<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>586801314408-bkk5161m9fjrdskjouo5t84hvjp9c0mr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586801314408-bkk5161m9fjrdskjouo5t84hvjp9c0mr</string>
	<key>API_KEY</key>
	<string>AIzaSyDx0qpJddjY7GZGijzm59uZ48ctxx_cpbs</string>
	<key>GCM_SENDER_ID</key>
	<string>586801314408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LIOU.BuyBuyGo</string>
	<key>PROJECT_ID</key>
	<string>oneuse-c3a9c</string>
	<key>STORAGE_BUCKET</key>
	<string>oneuse-c3a9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586801314408:ios:313ebfa79cf785bc</string>
	<key>DATABASE_URL</key>
	<string>https://oneuse-c3a9c.firebaseio.com</string>
</dict>
</plist>